<%- include ("../_partials/_header.ejs"); %>

<h1>Committee Member Toggle Practice</h1>
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab"
				href="#chat">Chat</a>
			</li>
			<li>
				<a data-toggle="tab"
				href="#writing">Writing</a>
			</li>
			<li>
				<a data-toggle="tab"
				href="#recruitment">Recruitment</a>
			</li>
			<li><a data-toggle="tab"
				href="#planning">Planning</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="chat" class=
				"tab-pane fade in active">
				<h3>Blog</h3>
				
				<p>
					This is the blog page.
				</p>

			</div>
			<div id="writing" class="tab-pane fade">
				<h3>Writing</h3>
				
				<p>
					This is the writing page.
				</p>

			</div>
			<div id="recruitment" class="tab-pane fade">
				<h3>Recruitment</h3>
				
				<p>
					This is the recruitment page.
				</p>

			</div>
			<div id="contact" class="tab-pane fade">
				<h3>Planning</h3>
				
				<p>
					This is the planning page.
				</p>

			</div>
		</div>
	</div>


<%- include ("../_partials/_footer.ejs"); %>