<%- include ("../_partials/_header.ejs"); %>

<form action="/createNewsletter3" method="POST">
    <div>
    <textarea name="testText" value="" rows="2" required>This is fake text</textarea>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>