<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>National High School Climate Forum</title>
<link rel="icon" href="../../public/Tree_Pic_Icon_for_Browser.jpg" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css" type="text/css">
<link rel="stylesheet" href="/public/css/forms.css" type="text/css">
<style>
	body {
		color: #fff;
		background: darkgreen;
		background-image: url('public/topPic6.jpg');
	}
	</style>
</head>
<body>
<div class="navbar" role="navigation" >
    <div class="container">
       <div class="navbar-header">
       <p class="navText" style="position: absolute; left: 10px; top: 20px" href="/">The National High School Climate Forum</p>
       </div>
       <ul class="nav navbar-nav navbar-right" style="position: absolute; right: 20px; top: 20px">
       <li class="navText"><a class="navText" href="/home">Home</a></li>
       
       </ul>
   </div>
</div>