<!DOCTYPE html>
 
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="The National High School Climate Forum is dedicated to fostering an exchange of ideas between student environmental leaders across the country for sustainability and conservation initiatives. The forum was founded by Alex Noviello and Andrew Noviello of The Lawrenceville School and Hope Jerris, Abigail Weinstein, and Holly Teti of Princeton Day School">
    <meta name="keywords" content="national, high, school, climate, forum, Noviello, Andrew, Alex, conservation">
    <meta name="author" content="Andrew Noviello, Alex Noviello">
    <title>National High School Climate Forum</title>
    <link rel="icon" href="../../public/Tree_Pic_Icon_for_Browser.jpg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    
    
</head>

<body>