<%- include ("../../_partials/_form_nav.ejs"); %>
<div class="signup-form">
    <form action="/join" method="post">
		<h2>Join The Forum</h2>
        <p>To register your student organization in the National High School Climate Forum, please fill out the below form. We look forward to meeting and working with you in the forum!</p>
        <hr>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="School Name" name="newSchoolName" aria-describedby="basic-addon1">        
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="School Club Name" name="newSchoolClubName" aria-describedby="basic-addon1">
        </div>        
        <div class="form-group">
			<p>School State Location:</p>
			<select searchable="Search here.." id="example-select" name="newSchoolState">
                <option value="" disabled selected>Choose your School's State</option>
                <option value="AL">Alabama</option>
	<option value="AK">Alaska</option>
	<option value="AZ">Arizona</option>
	<option value="AR">Arkansas</option>
	<option value="CA">California</option>
	<option value="CO">Colorado</option>
	<option value="CT">Connecticut</option>
	<option value="DE">Delaware</option>
	<option value="DC">District of Columbia</option>
	<option value="FL">Florida</option>
	<option value="GA">Georgia</option>
	<option value="HI">Hawaii</option>
	<option value="ID">Idaho</option>
	<option value="IL">Illinois</option>
	<option value="IN">Indiana</option>
	<option value="IA">Iowa</option>
	<option value="KS">Kansas</option>
	<option value="KY">Kentucky</option>
	<option value="LA">Louisiana</option>
	<option value="ME">Maine</option>
	<option value="MD">Maryland</option>
	<option value="MA">Massachusetts</option>
	<option value="MI">Michigan</option>
	<option value="MN">Minnesota</option>
	<option value="MS">Mississippi</option>
	<option value="MO">Missouri</option>
	<option value="MT">Montana</option>
	<option value="NE">Nebraska</option>
	<option value="NV">Nevada</option>
	<option value="NH">New Hampshire</option>
	<option value="NJ">New Jersey</option>
	<option value="NM">New Mexico</option>
	<option value="NY">New York</option>
	<option value="NC">North Carolina</option>
	<option value="ND">North Dakota</option>
	<option value="OH">Ohio</option>
	<option value="OK">Oklahoma</option>
	<option value="OR">Oregon</option>
	<option value="PA">Pennsylvania</option>
	<option value="RI">Rhode Island</option>
	<option value="SC">South Carolina</option>
	<option value="SD">South Dakota</option>
	<option value="TN">Tennessee</option>
	<option value="TX">Texas</option>
	<option value="UT">Utah</option>
	<option value="VT">Vermont</option>
	<option value="VA">Virginia</option>
	<option value="WA">Washington</option>
	<option value="WV">West Virginia</option>
	<option value="WI">Wisconsin</option>
	<option value="WY">Wyoming</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Club Faculty Advisor Name" name="newSchoolFacAdvName" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Club Faculty Advisor Email Address" name="newSchoolFacAdvEmail" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Club Social Media Info (if applicable)" name="newSchoolClubSM" aria-describedby="basic-addon1">
        </div>
        <div class="form-group">
			<p>NHSCF Recruiting Ambassador:</p>
			<select searchable="Search here.." id="example-select" name="recRep">
            <option value="" disabled selected>Who contacted you?</option>
            <option value="EP">Elise</option>
	        <option value="JM">Jason</option>
	        <option value="IM">Isabelle</option>
	        <option value="AN">Andrew</option>
            </select>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Join</button>
        </div>

    </form>
</div>
</body>
</html>

